# Ignorar arquivos de segredo do Streamlit
.streamlit/secrets.toml

# Ignorar arquivos de ambiente (caso use .env)
.env

# Ignorar arquivos de cache Python
__pycache__/
*.py[cod]
*$py.class

# Ignorar pastas e arquivos de ambientes virtuais
venv/
env/
.venv/

# Ignorar arquivos de configuração do editor (exemplos)
.vscode/
.idea/

# Ignorar arquivos de log
*.log

# Ignorar arquivos temporários do sistema
.DS_Store
Thumbs.db
